@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome all</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
    <h1 class="display-4">Welcome Borkac</h1>
    <p>Stefan is missing today :) <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> f933758b3e6304ec12eef6d10cb4efe421373cc2
</div>
